@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik:wght@300&display=swap');
@font-face {
    font-family: trans;
    src: url('../fonts/cali.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#intro {
    background-image: url('../img/index.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .8rem;
}

#intro-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#intro-text > div {
    font-family: trans;
    font-size: 2.15em;
    color: #cffcff;
    user-select: none;
    
}

#intro-text > div:first-of-type {
    margin-left: 3rem;
}

#intro-text > div:last-of-type {
    margin-left: 7rem;
}

#recipes-preview {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: calc(100vh * 10);
    width: 100vw;
    /* background: url('../img/tiles.jpg');
    background-repeat: repeat; */
}