@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik:wght@300&display=swap');
@font-face {
    font-family: trans;
    src: url('../fonts/cali.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    max-height: 100%;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#intro {
    background-image: url('../img/index.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .8rem;
}

#intro-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#intro-text > div {
    font-family: trans;
    font-size: 2.15em;
    color: #cffcff;
    user-select: none;
    
}

#intro-text > div:first-of-type {
    margin-left: 3rem;
}

#intro-text > div:last-of-type {
    margin-left: 7rem;
}

.recipe {
    margin: 1rem;
    height: 33%;
    width: 15rem;
    background: #00000075;
    border-radius: inherit;
    padding: 1rem;
    box-shadow: 0px 0px 55px 4px rgba(0,0,0,0.75);
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .15s ease-in-out;
}

.recipe::after {
    content: 'ass';
    color: red;
}

.recipe > img {
    width: 100px;
    border-radius: 16px;
}

.recipe > div {
    color: white;
}

.recipe:hover {
    box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.75);
    cursor: pointer;
}

#recipes-preview {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: end; 
    height: 300px;
    width: 100vw;
    justify-content: space-evenly;
    
}

#recipes-preview > div {
    display: inline-block;
    width: calc(100vw / 5 - 2rem);
    height: 100%;
}

#recipes-preview div {
    margin: 2rem;
    border: 2px solid black;
    border-radius: 10% / 10%;
    background-color: white;
}

.show-recipe {
    animation: showRecipe 1s linear 0s 1 normal forwards,
        removeRecipe 1s linear 9s 1 normal forwards;
}

/* .show-recipe img {
    animation: showRecipe 1s linear .1s 1 normal forwards,
        removeRecipe 1s linear 4.1s 1 normal forwards;
} */

#recipes-preview div:hover {
    box-shadow: 0 0 10px 5px black;
}

#recipes-preview a > img {
    border-radius: 10% 10% 0 0/ 10% 10% 0 0;
}

#recipes-preview img {
    width: 100%;
    height: 60%;
}

#recipes-preview a:any-link {
    text-decoration: none;
    color: black;
}

#recipes-preview ul {
    display: flex;
    justify-content: space-around;
    padding: .2rem .5rem 0;
    border-bottom: 2px inset black;
}

#recipes-preview li, #recipes-preview p {
    list-style: none;
    font-size: 1.2rem;
    padding-bottom: .5rem;
    text-shadow: 0 0 1px black;
}

#recipes-preview p {
    text-align: center;
    padding: .2rem 1rem .5rem;
    height: 3rem;
    overflow: hidden;
}

@keyframes removeRecipe {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(500px);
    }
}

@keyframes showRecipe {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0);
    }
}