@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#bladerdeeg {
    background-image: url("../images/bladerdeeghapjes.jpg");
    height: 40.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bladerdeeg > * {
    width: 50vw;
    text-shadow: 0 0 6px white;
}