@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}