@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik:wght@300&display=swap');
@font-face {
    font-family: trans;
    src: url('../fonts/cali.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#intro {
    background-image: url('../img/index.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .8rem;
}

#intro-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#intro-text > div {
    font-family: trans;
    font-size: 2.15em;
    color: #cffcff;
    
}

#intro-text > div:first-of-type {
    margin-left: 3rem;
}
#intro-text > div:last-of-type {
    margin-left: 7rem;
}

#recipeName {
    background-image: url("../images/bladerdeeghapjes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 40.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recipeName > * {
    width: 50vw;
    text-shadow: 0 0 5px white;
}

#recipe {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

#nutrition {
    background-image: url("../images/bladerdeeghapjes.jpg");
    grid-column: 1 / -1;
    width: 100%;
    min-height: 20rem;
    background-position: center;
    background-clip: border-box;
}

#nutrition > * {
    float: right;
    margin-inline-end: 5rem;
    margin-block-start: 5rem;
}