
li {
    line-height: 3rem;
    list-style-type: none;
}

h1, h2 {
    font-weight: 900;
    text-shadow: 0 0 5px rgba(0,0,0,.8);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

#recipeName {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 1rem .5rem 1rem;
}

#recipeName > * {
    text-shadow: 0 0 5px white;
    padding: 0 1rem;
}

#recipeName > div {
    position: absolute;
    background-color: rgba(255,255,255,.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 10rem;
    top: 20%;
    height: 75%;
    max-height: 500px;
    width: 30vw;
    z-index: 1;
    border-radius: 10%;
}

#recipeName > img {
    width: 70vw;
    height: auto;
    margin: 0 4rem .5rem auto;
    grid-column-end: -1;
    border-radius: 5% / 5%;
    box-shadow: 0 0 10px 1px black;
}

#recipeName li {
    display: flex;
    justify-content: start;
    align-items: center;
}

#recipeName li > img {
    margin-inline-end: .5rem;
}

#recipe {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: .2rem;
    margin: 1rem .5rem;
}

#recipe > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 1rem 0 1rem 10rem;
}

#preparation {
    width: 90%;
    margin-block-start: 1rem;
    margin-inline-start: 2rem;
}

#preparation li {
    line-height: 1.2rem;
    padding: 1rem;
}

#ingredients {
    margin-bottom: 2rem;
}

#nutrition {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center;
    align-items: center;
}

#nutrition img {
    width: 60vw;
    height: auto;
    margin-inline-start: 4rem;
    border-radius: 5% / 5%;
    box-shadow: 0 0 10px 1px black;
}

#nutrition > div:last-child {
    line-height: 3rem;
    margin: 0 .5rem
}